.poliscore {
    cursor: pointer;
    padding:0;
    margin:16px;
}

.tran-div {
    z-index: 1000;
}

.vertical-content {
    max-width: 540px;
}

.vertical-content > * {
    width: calc(100% - 20px);
    margin: 10px;
}

.vertical-content > input {
    height: 30px;
    width: calc(100% - 27px);
}

.breadcrumb > * {
    flex: 1;
    height:100%;
}

.breadcrumb > a {
    font-size: 16px;
}

.sort {
    padding-right: 5px;
}

.sort-label {
    display: inline-block;
    width:100%;
    text-align: center;
}

mat-button-toggle-group {
    width: 100%;
}

mat-button-toggle {
    width: 100%;
}

mat-card {
    margin: 10px;
    display: grid;
    color: black;
}

mat-card-content {
    margin-top: 20px;
}

.left {
    grid-column: 1 / 2;
    grid-row: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.right {
    grid-column: 2 / 2;
    grid-row: 1;
}

img {
    height: auto;
    margin-bottom: -5px;
    width: 150px;
}
