<div>
    <span class="purplebg"></span> <!-- There's a bug on Mobile Chrome browsers where when the nav bar hides, it reveals the white bg. -->
<div class="stripedbg" >
    <!-- <div *ngIf="legs == null" class="loader"></div> -->

	<div class="vertical-layout">

        <div class="vertical-content">

            <div class="content-section">
                <!-- <h1 class="poliscore" href="#" routerLink="/">poliscore.us</h1> -->
                 <div class="title">
                    <div class="vertical-layout">
                        <a class="unstyled" href="/"><img class="logo" src="/images/poliscore-word.png" routerLink="/"></a>
                        <span class="logo-subtitle">AI Political Rating Service</span>
                    </div>
                    <div class="horizontal-layout" style="flex-direction: row-reverse !important;">
                        <div class="nav-buttons vertical-layout">
                            <button mat-raised-button routerLink="/bills"><a href="/bills" class="unstyled"><span>View Bills</span></a></button>
                            <button mat-raised-button routerLink="/congress"><a href="/congress" class="unstyled"><span>Party Stats</span></a></button>
                            <button mat-raised-button routerLink="/about" class="about-button"><a href="/about" routerLink="/about" class="unstyled"><span>About</span></a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="legs" class="content-section">
                <h1 style="display: none;">Legislators</h1>

                <div class="sorting horizontal-layout">
                    <label class="sort-label left">Sort by:</label>
                    <mat-button-toggle-group name="fontStyle" class="right" aria-label="Font Style" [hideSingleSelectionIndicator]="true" [hideMultipleSelectionIndicator]="true">
                        <mat-button-toggle (click)="togglePage('ObjectsByLocation')" value="bold">My Location</mat-button-toggle>
                        <mat-button-toggle (click)="togglePage('ObjectsByRating')" value="bold">Rating <i *ngIf="page.index === 'ObjectsByRating'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i></mat-button-toggle>
                        <mat-button-toggle (click)="togglePage('ObjectsByDate')" value="italic">Age <i *ngIf="page.index === 'ObjectsByDate'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': page.ascending, 'fa-arrow-up': !page.ascending }"></i></mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <input *ngIf="allLegislators.length > 0" class="searchbox" type="text"
                    placeholder="Search for legislator or state"
                    aria-label="Number"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    @for (idAndName of filteredOptions | async; track idAndName) {
                        <mat-option (click)="onSelectAutocomplete(idAndName[0])" [value]="idAndName[0]">{{idAndName[1]}}</mat-option>
                    }
                </mat-autocomplete>
            </div>
            
            <mat-card *ngFor="let leg of legs" class="example-card" appearance="outlined">
                <a [href]="'/legislator/' + leg.id.replace('LEG/us/congress/', '')">
                    <div class="left">
                        <img *ngIf="!leg.photoError" [src]="'https://poliscore-prod-public.s3.amazonaws.com/' + leg.id + '.jpg'" (error)="leg.photoError = true;" >
                        <img *ngIf="leg.photoError" src="https://poliscore-prod-public.s3.amazonaws.com/LEG/leg-photo-missing.png" alt=“Name”>
                    </div>
                    <div class="right">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>{{leg.name.official_full}}</mat-card-title>
                                <h1 class="col-2 g-0"><p class="text-end" style="padding-right:12px;" [ngStyle]="{'color': colorForGrade(gradeForLegislator(leg))}">{{gradeForLegislator(leg)}}</p></h1>
                                <mat-card-subtitle>{{subtitleForLegislator(leg)}}</mat-card-subtitle>
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <span><p>{{descriptionForLegislator(leg)}}</p></span>
                        </mat-card-content>
                        <mat-card-footer class="horizontal-layout">
                            <p class="reelection" *ngIf="upForReelection(leg)">Up for reelection in Nov</p>
                        </mat-card-footer>
                    </div>
                </a>
            </mat-card>

            <mat-card *ngIf="hasMoreContent && isRequestingData" class="loading-card vertical-layout" appearance="outlined">
                <div class="loading">
                </div>
            </mat-card>
       
        </div>

	</div>
</div>
</div>
