<div>
    <span class="purplebg"></span> <!-- There's a bug on Mobile Chrome browsers where when the nav bar hides, it reveals the white bg. -->
<div class="stripedbg" >
    <!-- <div *ngIf="legs == null" class="loader"></div> -->

	<div class="vertical-layout">

        <div class="vertical-content">

            <div class="content-section breadcrumb">
                <!-- <h1 class="poliscore" href="#" routerLink="/">poliscore.us</h1> -->
                 <div class="title">
                    <div class="vertical-layout">
                        <img class="logo" src="/images/poliscore-word.png" routerLink="/">
                        <span class="logo-subtitle">AI Legislative Interpretation Service</span>
                    </div>
                    <div class="horizontal-layout" style="flex-direction: row-reverse !important;">
                        <div class="nav-buttons vertical-layout">
                            <button mat-raised-button routerLink="/bills"><span>View Bills</span><i class="icon solid fa-solid fa-arrow-right" style="margin-right:-10px; margin-left:10px; color: #81548f !important"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="legs" class="content-section">
                <div class="sorting horizontal-layout">
                    <label class="sort-label left">Sort by:</label>
                    <mat-button-toggle-group name="fontStyle" class="right" aria-label="Font Style">
                        <mat-button-toggle (click)="togglePage('ObjectsByLocation')" value="bold">Location</mat-button-toggle>
                        <mat-button-toggle (click)="togglePage('ObjectsByRating')" value="bold">Rating</mat-button-toggle>
                        <mat-button-toggle (click)="togglePage('ObjectsByDate')" value="italic">Age</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                
                <input *ngIf="allLegislators.length > 0" class="searchbox" type="text"
                    placeholder="Search for legislator or state"
                    aria-label="Number"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    @for (idAndName of filteredOptions | async; track idAndName) {
                        <mat-option (click)="onSelectAutocomplete(idAndName[0])" [value]="idAndName[0]">{{idAndName[1]}}</mat-option>
                    }
                </mat-autocomplete>
            </div>
            
            <mat-card *ngFor="let leg of legs" (click)="routeTo(leg)" class="example-card" appearance="outlined">
                <div class="left">
                    <img *ngIf="!leg.photoError" [src]="'https://poliscore-prod-public.s3.amazonaws.com/' + leg.id + '.jpg'" (error)="leg.photoError = true;" >
                    <img *ngIf="leg.photoError" src="https://poliscore-prod-public.s3.amazonaws.com/LEG/leg-photo-missing.png" alt=“Name”>
                </div>
                <div class="right">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>{{leg.name.official_full}}</mat-card-title>
                            <h1 class="col-2 g-0"><p class="text-end" style="padding-right:12px;" [ngStyle]="{'color': colorForGrade(gradeForLegislator(leg))}">{{gradeForLegislator(leg)}}</p></h1>
                            <mat-card-subtitle>{{subtitleForLegislator(leg)}}</mat-card-subtitle>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <span><p>{{descriptionForLegislator(leg)}}</p></span>
                    </mat-card-content>
                </div>
            </mat-card>

            <mat-card *ngIf="hasMoreContent && isRequestingData" class="loading-card vertical-layout" appearance="outlined">
                <div class="loading">
                </div>
            </mat-card>
       
        </div>

	</div>
</div>
</div>
