<div>
    <span class="purplebg"></span> <!-- There's a bug on Mobile Chrome browsers where when the nav bar hides, it reveals the white bg. -->
<div class="stripedbg" >
    <!-- <div *ngIf="legs == null" class="loader"></div> -->

	<div class="vertical-layout">

        <div class="vertical-content">

            <div class="content-section breadcrumb">
                 <div class="title">
                    <div class="vertical-layout">
                        <img class="logo" src="/images/poliscore-word.png" href="/">
                        <span class="logo-subtitle">AI Political Rating Service</span>
                    </div>
                    <div class="horizontal-layout" style="flex-direction: row-reverse !important;">
                        <div class="nav-buttons vertical-layout">
                            <button mat-raised-button><a href="/legislators" class="unstyled"><span>Legislators</span></a></button>
                            <button mat-raised-button><a href="/about" class="unstyled"><span>About</span></a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="bills" class="content-section">
                <h1 style="display: none;">Bills</h1>

                <div class="sorting horizontal-layout">
                    <label class="sort-label left">Sort by:</label>
                    <mat-button-toggle-group name="fontStyle" class="right" aria-label="Font Style" [hideSingleSelectionIndicator]="true" [hideMultipleSelectionIndicator]="true">
                        <!-- <mat-button-toggle (click)="togglePage('ObjectsByLocation')" value="bold">Location</mat-button-toggle> -->
                        <mat-button-toggle (click)="togglePage('ObjectsByDate')" value="italic">Date <i *ngIf="page.index === 'ObjectsByDate'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i></mat-button-toggle>
                        <mat-button-toggle (click)="togglePage('ObjectsByRating')" value="bold">Rating <i *ngIf="page.index === 'ObjectsByRating'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i></mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <input class="searchbox" type="text"
                    placeholder="Search for a bill or issue, like 'immigration'"
                    aria-label="Number"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    @for (idAndName of filteredOptions | async; track idAndName) {
                        <mat-option (click)="onSelectAutocomplete(idAndName[0])" [value]="idAndName[0]">{{idAndName[1]}}</mat-option>
                    }
                </mat-autocomplete>
            </div>
            
            <mat-card *ngFor="let bill of bills" class="example-card" appearance="outlined">
                <a [href]="'/bill/' + bill.id.replace('BIL/us/congress/', '')">
                    <mat-card-header>
                        <mat-card-title-group>
                            <h4 class="title-date"><p style="padding-left:12px;">{{bill.introducedDate}}</p></h4>
                            <mat-card-title>{{bill.name}}</mat-card-title>
                            <h1 class="title-grade"><p style="padding-right:12px;" [ngStyle]="{'color': colorForGrade(gradeForBill(bill))}">{{gradeForBill(bill)}}</p></h1>
                            <mat-card-subtitle>{{subtitleForBill(bill)}}</mat-card-subtitle>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <span><p>{{descriptionForBill(bill)}}</p></span>
                    </mat-card-content>
                </a>
            </mat-card>

            <mat-card *ngIf="hasMoreContent && isRequestingData" class="loading-card vertical-layout" appearance="outlined">
                <div class="loading">
                </div>
            </mat-card>
       
        </div>

	</div>
</div>
</div>
