
mat-card {
    width: 80%;
    margin: 10px;
    color: black;

    max-width:1200px;
    border: 1px solid black;
}

.breadcrumb {
    position: relative;
}

.breadcrumb > .float-right {
    position: absolute;
    right: 0em;
    top: -0.3em;
}

.grade {
    position: absolute;
    top: 15px;
    left: 20px;
}

.grade > p {
    text-indent: 0;
    padding: 0;
}

.card-text {
    max-height: 250px;
    overflow: clip;
}

.card-title {
    margin-left: 25px;
    margin-right: 25px;
}

.card-tex small {
    max-height: 100px;
    overflow: clip;
}

.row {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}

.col-left {
    grid-column: 1 / 2;
    grid-row: 1;
}

.col-right {
    grid-column: 2 / 2;
    grid-row: 1;
    padding-top: 40px;
}

h1 {
    margin-bottom: 0;
    padding-top: 5px;
}

p {
    text-indent: 40px;
    padding: 20px;
    padding-bottom:10px;
    padding-top: 30px;
}

.leg-img {
    width: 80%;
    margin: 30px;
    margin-top: 0;
    max-width:400px;
}

.chart-container {
    position: relative;
    width: calc(60vw - 100px);
    height: 400px;
}

#barChart {
    padding-bottom: 20px;
}

@media screen and (max-width: 1210px) and (min-width:700px) {
    .grade {
        right: 25px;
        left: unset;
    }
}

@media screen and (max-width: 410px) {
    table.bill-history-table {
        margin-left: calc(50vw - 210px);
    }
}


@media screen and (max-width: 424px) {
    .row {
        display: block;
    }
    .chart-container {
        width: calc(80vw - 30px);
        height: 300px;
    }
}
// @media screen and (min-width: 425px) and (max-width:499px) {
//     .chart-container {
//         width: 380px;
//     }
// }
// @media screen and (min-width: 500px) and (max-width:599px) {
//     .chart-container {
//         width: 480px;
//     }
// }
// @media screen and (min-width: 600px) and (max-width:700px) {
//     .chart-container {
//         width: 580px;
//     }
// }
// @media screen and (min-width: 701px) {
//     .chart-container {
//         max-width: 100%;
//         min-width: 450px;
//         width: 100%;
//     }
// }




// Dumb hack because I can't divide by a unit (like 100vw) //
/*
@media screen and (max-width: 700px) {
    .row {
        display: block;
    }
    #barChart {
        margin-left: -10px;
    }
}
@media screen and (max-width: 600px) {
    .row {
        display: block;
    }
    #barChart {
        margin-left: -10px;
    }
}
@media screen and (max-width: 500px) {
    .row {
        display: block;
    }
    #barChart {
        margin-left: -80px;
    }
}
@media screen and (max-width: 475px) {
    #barChart {
        margin-left: -105px;
    }
}
@media screen and (max-width: 450px) {
    #barChart {
        margin-left: -120px;
    }
}
@media screen and (max-width: 425px) {
    #barChart {
        margin-left: -145px;
    }
}
@media screen and (max-width: 400px) {
    #barChart {
        margin-left: -165px;
    }
}
@media screen and (max-width: 375px) {
    #barChart {
        margin-left: -180px;
    }
}
@media screen and (max-width: 350px) {
    #barChart {
        margin-left: -200px;
    }
}
@media screen and (max-width: 325px) {
    #barChart {
        margin-left: -225px;
    }
}
@media screen and (max-width: 300px) {
    #barChart {
        margin-left: -250px;
    }
}
@media screen and (max-width: 250px) {
    #barChart {
        margin-left: -285px;
    }
}
@media screen and (max-width: 200px) {
    #barChart {
        margin-left: -325px;
    }
}
*/
