<div>
    <span class="purplebg"></span> <!-- There's a bug on Moible Chrome browsers where when the nav bar hides, it reveals the white bg. -->
<div class="stripedbg">
    <div *ngIf="loading" class="loader"></div>
    <h1 *ngIf="!loading && leg == null" class="object-not-found"><a href="/legislators">Legislator not found!</a></h1>

    <!--
    <div style="width:800px; height:800px">
        <canvas id="barChart"></canvas>
    </div>
-->

<!---->
    <div class="vertical-layout">
        <div class="vertical-content">
        <!-- <div class="breadcrumb">
            <a href="/">Home</a>
            /
            <a href="/legislators">Legislators</a>

            <a class="float-right" href="/about">About</a>
        </div> -->

        <header [congress]="false" class="content-section"></header>

        <mat-card class="tran-div">
            <mat-card-content>
                <div class="row">
                    <div class="col-left vertical-layout">
                        <h1 class="grade"><p [ngStyle]="{'color': colorForGrade(gradeForLegislator())}">{{gradeForLegislator()}}</p></h1>
                        <h1 class="card-title" style="text-align:center;"><a [href]="'https://www.congress.gov/member/' + leg?.name?.first?.toLowerCase()?.replace(' ', '-') + '-' + leg?.name?.last?.toLowerCase()?.replace(' ', '-') + '/' + leg?.bioguideId">{{leg?.name?.official_full}}</a></h1>
                        <h3 style="text-align:center;">{{subtitleForLegislator()}}</h3>
                        
                        <img class="leg-img img-fluid rounded-start" *ngIf="!leg?.photoError" [src]="photoForLegislator()" (error)="legPhotoError(leg)" >
                        <img class="leg-img img-fluid rounded-start" style="max-height:360px;" *ngIf="leg && leg.photoError" src="https://poliscore-prod-public.s3.amazonaws.com/LEG/leg-photo-missing.png" alt=“Name”>
                        <h4 *ngIf="leg" class="card-subtitle" style="text-align:center; font-size: 0.9em;">{{leg!.terms[leg.terms.length-1].party | titlecase}}</h4>

                        <p class="reelection" *ngIf="upForReelection()">Up for reelection in November</p>
                    </div>
                    <div class="col-right">
                        <div class="card-body">
                            <div *ngIf="leg !=  null && hasValidInterp && !loading" class="chart-container"><canvas *ngIf="hasValidInterp" #barChart id="barChart"></canvas></div>
                            <div *ngIf="leg !=  null && !hasValidInterp && !loading" class="invalid-interp vertical-layout">
                                <h2>
                                    Waiting for more data ...
                                </h2>
                                <p>
                                    Legislator interpretatons require at least a hundred bill interactions in order to ensure accuracy.
                                </p>
                                <p>
                                    <a [href]="'https://poliscore.us/' + getPreviousYear()">You can always visit a previous year to see historical legislator data.</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div *ngIf="leg != null && hasValidInterp && !loading" class="row">
                    
                </div>

                <div *ngIf="leg != null && hasValidInterp && !loading">
                    <!-- <h2>Interpretation</h2> -->
                    <div class="leg-summary"><p *ngFor="let paragraph of leg?.interpretation?.longExplain?.split('\n')" [innerHTML]="paragraph"></p></div>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- <div *ngIf="leg != null" class="content-section vertical-layout">
            <div class="sorting horizontal-layout">
                <label class="sort-label left">Sort by:</label>
                <mat-button-toggle-group name="fontStyle" class="right" aria-label="Font Style" [hideSingleSelectionIndicator]="true" [hideMultipleSelectionIndicator]="true">
                    <mat-button-toggle (click)="togglePage('ObjectsByDate')" value="italic">Date <i *ngIf="page.index === 'ObjectsByDate'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': page.ascending, 'fa-arrow-up': !page.ascending }"></i></mat-button-toggle>
                    <mat-button-toggle (click)="togglePage('ObjectsByRating')" value="bold">Rating <i *ngIf="page.index === 'ObjectsByRating'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i></mat-button-toggle>
                    <mat-button-toggle (click)="togglePage('TrackedIssue')" value="bold">Issue <i *ngIf="page.index === 'TrackedIssue'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i></mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div> -->

        <mat-card class="tran-div interactions-table" *ngIf="leg != null">
            <mat-card-content>
                <div>
                    <div class="table-header" style="margin-bottom: 16px;">
                        <h2 style="margin:0;">Bill History</h2>

                        <div class="sorting horizontal-layout">
                            <div class="sorting-inner">
                                <div class="sort-label left">Sort by:</div>
                                <mat-button-toggle-group name="fontStyle" class="right" aria-label="Font Style" [hideSingleSelectionIndicator]="true" [hideMultipleSelectionIndicator]="true">
                                    <mat-button-toggle (click)="togglePage(page.index == 'ObjectsByImpact' || page.index == 'ObjectsByImpactAbs' ? page.index : 'ObjectsByImpactAbs')" value="italic" [class.mat-button-toggle-checked]="page.index === 'ObjectsByImpact' || page.index === 'ObjectsByImpactAbs'">Impact <i *ngIf="page.index === 'ObjectsByImpact' || page.index === 'ObjectsByImpactAbs'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending, 'fa-arrows-up-down': (page.index === 'ObjectsByImpactAbs') }"></i></mat-button-toggle>
                                    <mat-button-toggle (click)="togglePage('ObjectsByDate')" value="italic">Date <i *ngIf="page.index === 'ObjectsByDate'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i></mat-button-toggle>
                                    <mat-button-toggle (click)="togglePage('ObjectsByRating')" value="bold">Grade <i *ngIf="page.index === 'ObjectsByRating'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i></mat-button-toggle>
                                    <mat-button-toggle #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="sortMenu" value="bold">Issue <i *ngIf="page.index === 'TrackedIssue'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i></mat-button-toggle>
                                </mat-button-toggle-group>

                                <mat-menu #sortMenu="matMenu">
                                    <button mat-menu-item *ngFor="let issue of issueMap | keyvalue" (click)="togglePage('TrackedIssue', issue.key, menuTrigger, $event)">
                                        {{ issue.value }}
                                        <i *ngIf="page.index === 'TrackedIssue' && page.sortKey === issue.key" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>

                    <table mat-table [dataSource]="billData" class="bill-history-table mat-elevation-z8" [ngClass]="{ 'non-safari': isNonSafari() }" >

                        <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                        <ng-container matColumnDef="billName">
                            <th mat-header-cell *matHeaderCellDef>Bill Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.billName}}

                                <a fxFlexFill [href]="config.billIdToAbsolutePath(element.billId)" class="mat-row-link"></a>

                                <span *ngIf="element.statusProgress === 1.0" class="highlight-law">(Law)</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="billGrade">
                            <th mat-header-cell *matHeaderCellDef>Bill Grade</th>
                            <td mat-cell *matCellDef="let element"> {{element.billGrade}} </td>
                        </ng-container>

                        <ng-container matColumnDef="association">
                            <th mat-header-cell *matHeaderCellDef>Association</th>
                            <td mat-cell *matCellDef="let element"> {{element.association}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" [routerLink]="config.billIdToAbsolutePath(row.billId)" class="mat-row"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
</div>
</div>


<!-- <p class="card-text"><small class="text-body-secondary">{{leg?.interpretation?.issueStats?.explanation}}</small></p> -->
<!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
