<div class="stripedbg">
    <!--
    <div style="width:800px; height:800px">
        <canvas id="barChart"></canvas>
    </div>
-->

<!---->
    <div class="vertical-layout">
        <mat-card class="tran-div">
            <mat-card-content>
                <div>
                    <div style="max-width:1200px; border: 1px solid black;">
                        <div class="row">
                            <div class="col-left vertical-layout">
                                <h1 class="card-title" style="text-align:center;">{{leg?.name?.official_full}}</h1>
                                <img style="width: 80%; margin: 30px; max-width:400px;" [src]="'https://poliscore-prod-public.s3.amazonaws.com/' + leg?.id + '.jpg'" class="img-fluid rounded-start" alt="loading...">
                            </div>
                            <div class="col-right">
                                <div style="min-width: 450px;" class="card-body">
                                    <canvas id="barChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <p>{{leg?.interpretation?.issueStats?.explanation}}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<!-- <p class="card-text"><small class="text-body-secondary">{{leg?.interpretation?.issueStats?.explanation}}</small></p> -->
<!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
