
/* Header */
.title {
    display: grid;
    grid-template-columns: minmax(100px, 260px) 1fr;
}
.nav-buttons {
    min-width: 120px;
}
.nav-buttons button {
    width: 115px;
    height: 30px;
    margin: 5px;
}
.logo {
    cursor: pointer;
    width:230px;
    padding:0;
    margin:16px;
    margin-top:5px;
}
@media screen and (max-width: 400px) {
    .logo {
        width: 180px;
    }
    .logo-subtitle {
        font-size: 12px;
    }
}
.vertical-content > * {
    width: calc(100% - 20px);
    margin: 10px;
}




mat-card {
    width: 80%;
    margin: 10px;
    color: black;

    max-width:1200px;
    border: 1px solid black;
}

.mat-row{        
    position: relative;
}

.mat-row-link{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;             
}

.breadcrumb {
    position: relative;
}

.breadcrumb > .float-right {
    position: absolute;
    right: 0em;
    top: -0.3em;
}

.grade {
    position: absolute;
    top: 15px;
    left: 20px;
}

.grade > p {
    text-indent: 0;
    padding: 0;
}

.card-text {
    max-height: 250px;
    overflow: clip;
}

.card-title {
    margin-left: 25px;
    margin-right: 25px;
}

.card-tex small {
    max-height: 100px;
    overflow: clip;
}

.row {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}

.col-left {
    grid-column: 1 / 2;
    grid-row: 1;
}

.col-right {
    grid-column: 2 / 2;
    grid-row: 1;
    padding-top: 40px;
}

h1 {
    margin-bottom: 0;
    padding-top: 5px;
}

.leg-summary {
    text-indent: 40px;
    padding: 20px;
    padding-bottom:20px;
    padding-top: 30px;
    white-space: pre-wrap;
    text-indent: 40px;
}

.leg-img {
    width: 80%;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 8px;
    max-width:400px;
}

.reelection {
    color: #7a5600;
}

.chart-container {
    position: relative;
    width: calc(60vw - 100px);
    max-width: 800px;
    height: 400px;
}

#barChart {
    padding-bottom: 20px;
}

@media screen and (max-width: 1210px) and (min-width:700px) {
    .grade {
        right: 25px;
        left: unset;
    }
}

@media screen and (max-width: 410px) {
    table.bill-history-table {
        margin-left: calc(50vw - 180px);
    }
}


@media screen and (max-width: 424px) {
    .row {
        display: block;
    }
    .chart-container {
        width: calc(90vw - 15px);
        height: 300px;
    }
}




// Dumb hack because I can't divide by a unit (like 100vw) //
/*
@media screen and (max-width: 700px) {
    .row {
        display: block;
    }
    #barChart {
        margin-left: -10px;
    }
}
@media screen and (max-width: 600px) {
    .row {
        display: block;
    }
    #barChart {
        margin-left: -10px;
    }
}
@media screen and (max-width: 500px) {
    .row {
        display: block;
    }
    #barChart {
        margin-left: -80px;
    }
}
@media screen and (max-width: 475px) {
    #barChart {
        margin-left: -105px;
    }
}
@media screen and (max-width: 450px) {
    #barChart {
        margin-left: -120px;
    }
}
@media screen and (max-width: 425px) {
    #barChart {
        margin-left: -145px;
    }
}
@media screen and (max-width: 400px) {
    #barChart {
        margin-left: -165px;
    }
}
@media screen and (max-width: 375px) {
    #barChart {
        margin-left: -180px;
    }
}
@media screen and (max-width: 350px) {
    #barChart {
        margin-left: -200px;
    }
}
@media screen and (max-width: 325px) {
    #barChart {
        margin-left: -225px;
    }
}
@media screen and (max-width: 300px) {
    #barChart {
        margin-left: -250px;
    }
}
@media screen and (max-width: 250px) {
    #barChart {
        margin-left: -285px;
    }
}
@media screen and (max-width: 200px) {
    #barChart {
        margin-left: -325px;
    }
}
*/
