<div class="stripedbg">
        <div *ngIf="bill == null" class="loader"></div>

        <!--
        <div style="width:800px; height:800px">
            <canvas id="barChart"></canvas>
        </div>
    -->

    <!---->
        <div class="vertical-layout">
            <div class="breadcrumb">
                <a href="#" routerLink="/">Home</a>
                /
                <a href="#" routerLink="/legislators">Legislators</a>
            </div>

            <mat-card class="tran-div">
                <mat-card-content class="vertical-layout">
                    <h1 class="card-title" style="text-align:center;"><a [href]="'https://www.congress.gov/bill/' + bill?.congress + '-congress/' + getCongressGovBillType() + '/' + bill?.number">{{bill?.name}}</a></h1>
                    <h1 class="grade"><p [ngStyle]="{'color': colorForGrade(gradeForBill())}">{{gradeForBill()}}</p></h1>
                    <h3 class="date"><p >{{ bill?.introducedDate }}</p></h3>
                    <div style="min-width: 450px;" class="chart-container">
                        <canvas id="barChart"></canvas>
                    </div>

                    <p class="interp-text">{{bill?.interpretation?.issueStats?.explanation}}</p>
                </mat-card-content>
            </mat-card>
        </div>
</div>


<!-- <p class="card-text"><small class="text-body-secondary">{{leg?.interpretation?.issueStats?.explanation}}</small></p> -->
<!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
