
mat-card {
    width: 80%;
    margin: 10px;
    color: black;

    max-width:1200px;
    border: 1px solid black;
}

.card-text {
    max-height: 250px;
    overflow: clip;
}

.card-tex small {
    max-height: 100px;
    overflow: clip;
}

.row {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}

.chart-container {
    max-height: 700px;
    width: 50vw;
}

p.interp-text {
    margin-top: 30px;
}

.grade {
    position: absolute;
    top: 15px;
    left: 25px;
}

.grade > p {
    text-indent: 0;
    padding: 0;
}

.date {
    position: absolute;
    top: 15px;
    right: 25px;
}

@media screen and (max-width: 800px) {
    .grade {
        top: 46px;
        left: 18px;
    }

    .chart-container {
        padding-top: 25px;
    }

    .date {
        top: 45px;
        right: 18px;
    }
}
