<div class="stripedbg">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://s3.amazonaws.com/poliscore.ch/assets/legislators/bernie-mittens.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{leg?.name?.official_full}}</h5>
              <div class="card-text">
                <div *ngFor="let stat of leg?.interpretation?.issueStats?.stats | keyvalue">
                    <label>{{stat.key}}</label>
                    <label>{{stat.value}}</label>
                </div>
              </div>
              <p class="card-text"><small class="text-body-secondary">{{leg?.interpretation?.issueStats?.explanation}}</small></p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
</div>

