
mat-card {
    width: 80%;
    margin: 10px;
    color: black;

    max-width:1200px;
    border: 1px solid black;
}

.mat-row{        
    position: relative;
}

.mat-row-link{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;             
}

.breadcrumb {
    position: relative;
}

.breadcrumb > .float-right {
    position: absolute;
    right: 0em;
    top: -0.3em;
}

.grade {
    position: absolute;
    top: 15px;
    left: 20px;
}

.grade > p {
    text-indent: 0;
    padding: 0;
}

.card-text {
    max-height: 250px;
    overflow: clip;
}

.card-title {
    margin-left: 25px;
    margin-right: 25px;
}

.card-tex small {
    max-height: 100px;
    overflow: clip;
}

.row {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}

.col-left {
    grid-column: 1 / 2;
    grid-row: 1;
}

.col-right {
    grid-column: 2 / 2;
    grid-row: 1;
    padding-top: 40px;
}

h1 {
    margin-bottom: 0;
    padding-top: 5px;
}

.leg-summary {
    text-indent: 40px;
    padding: 20px;
    padding-bottom:20px;
    padding-top: 30px;
    white-space: pre-wrap;
    text-indent: 40px;
}

.leg-img {
    width: 80%;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 8px;
    max-width:400px;
}

.reelection {
    color: #7a5600;
}

.chart-container {
    position: relative;
    width: calc(60vw - 100px);
    max-width: 800px;
    height: 400px;
}

#barChart {
    padding-bottom: 20px;
}

@media screen and (max-width: 1210px) and (min-width:700px) {
    .grade {
        right: 25px;
        left: unset;
    }
}

@media screen and (max-width: 410px) {
    table.bill-history-table {
        margin-left: calc(50vw - 210px);
    }
}


@media screen and (max-width: 424px) {
    .row {
        display: block;
    }
    .chart-container {
        width: calc(80vw - 30px);
        height: 300px;
    }
}
// @media screen and (min-width: 425px) and (max-width:499px) {
//     .chart-container {
//         width: 380px;
//     }
// }
// @media screen and (min-width: 500px) and (max-width:599px) {
//     .chart-container {
//         width: 480px;
//     }
// }
// @media screen and (min-width: 600px) and (max-width:700px) {
//     .chart-container {
//         width: 580px;
//     }
// }
// @media screen and (min-width: 701px) {
//     .chart-container {
//         max-width: 100%;
//         min-width: 450px;
//         width: 100%;
//     }
// }




// Dumb hack because I can't divide by a unit (like 100vw) //
/*
@media screen and (max-width: 700px) {
    .row {
        display: block;
    }
    #barChart {
        margin-left: -10px;
    }
}
@media screen and (max-width: 600px) {
    .row {
        display: block;
    }
    #barChart {
        margin-left: -10px;
    }
}
@media screen and (max-width: 500px) {
    .row {
        display: block;
    }
    #barChart {
        margin-left: -80px;
    }
}
@media screen and (max-width: 475px) {
    #barChart {
        margin-left: -105px;
    }
}
@media screen and (max-width: 450px) {
    #barChart {
        margin-left: -120px;
    }
}
@media screen and (max-width: 425px) {
    #barChart {
        margin-left: -145px;
    }
}
@media screen and (max-width: 400px) {
    #barChart {
        margin-left: -165px;
    }
}
@media screen and (max-width: 375px) {
    #barChart {
        margin-left: -180px;
    }
}
@media screen and (max-width: 350px) {
    #barChart {
        margin-left: -200px;
    }
}
@media screen and (max-width: 325px) {
    #barChart {
        margin-left: -225px;
    }
}
@media screen and (max-width: 300px) {
    #barChart {
        margin-left: -250px;
    }
}
@media screen and (max-width: 250px) {
    #barChart {
        margin-left: -285px;
    }
}
@media screen and (max-width: 200px) {
    #barChart {
        margin-left: -325px;
    }
}
*/




/* Shine */
.about-button {
    overflow: clip;
}
.about-button:after {
    content:'';
    top:0;
    transform:translateX(100%);
    width:100%;
    height:40px;
    position: absolute;
    z-index:1;
    animation: slide 1s ease-in-out;
    animation-delay: 3s;
        
    /* 
    CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
    */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #f9f9f9 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,#f9f9f9), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,#f9f9f9 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,#f9f9f9 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,#f9f9f9 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,#f9f9f9 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
    0% {transform:translateX(-100%);}
    100% {transform:translateX(100%);}
}



.tran-div {
    z-index: 1000;
}

.logo {
    cursor: pointer;
    width:230px;
    padding:0;
    margin:16px;
    margin-top:5px;
}

.vertical-content {
    max-width: 540px;
}

.vertical-content > * {
    width: calc(100% - 20px);
    margin: 10px;
}

.vertical-content > input {
    height: 30px;
    width: calc(100% - 27px);
}

.title {
    display: grid;
    grid-template-columns: minmax(100px, 260px) 1fr;
}

.reelection {
    color: #7a5600;
}

.breadcrumb > * {
    flex: 1;
    height:100%;
}

.breadcrumb > a {
    font-size: 16px;
}

.nav-buttons {
    min-width: 120px;
}

.nav-buttons button {
    width: 110px;
    height: 40px;
    margin: 5px;
}

.sorting {
}

.sort-arrow {
    margin-right:-10px;
    margin-left:10px;
    color: #81548f !important
}

@media screen and (max-width: 480px) {
    .sort-arrow {
        margin-right:-5px;
        margin-left:3px;
    }
}

.sort-label {
    text-align: center;
    width: 8em;
    font-weight: bold;
}

mat-button-toggle-group {
    width: 100%;
}

mat-button-toggle {
    width: 100%;
}

mat-card {
    margin: 10px;
    color: black;
}

mat-card a {
    display: grid;
    grid-template-columns: 150px 1fr;
    text-decoration: none;
}

mat-card a :link {
    text-decoration: none;
}
mat-card a, a:visited, a:hover, a:active {
    color: inherit;
}

mat-card-content {
    margin-top: 20px;
}

.searchbox {
    width: calc(100% - 25px);
    margin: 10px;
    height: 30px;
}

.left {
    grid-column: 1 / 2;
    grid-row: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.right {
    grid-column: 2 / 2;
    grid-row: 1;
}

mat-card .right {
    display: grid;
}

mat-card img {
    height: auto;
    margin-bottom: -5px;
    width: 150px;
}

mat-card-footer {
    padding: 0 16px;
}

mat-card-footer p {
    margin: 5px 0;
    font-size: 0.9em;
}

.loading {
    width: 15px;
	aspect-ratio: 1;
	border-radius: 50%;
	animation: l5 1s infinite linear alternate;
    margin: 40px;
}

@media screen and (max-width: 400px) {
    .logo {
        width: 180px;
    }
    .logo-subtitle {
        font-size: 12px;
    }
}
