<div>
    <span class="purplebg"></span> <!-- There's a bug on Moible Chrome browsers where when the nav bar hides, it reveals the white bg. -->
<div class="stripedbg">
    <div *ngIf="loading" class="loader"></div>
    <h1 *ngIf="!loading && stats == null" class="object-not-found"><a href="/">Stats not found!</a></h1>

    <!--
    <div style="width:800px; height:800px">
        <canvas id="barChart"></canvas>
    </div>
-->

<!---->
    <div class="vertical-layout">
        <div class="vertical-content">
        <!-- <div class="breadcrumb">
            <a href="/">Home</a>
            /
            <a href="/congress">Party Stats</a>

            <a class="float-right" href="/about">About</a>
        </div> -->

        <div class="content-section">
            <!-- <h1 class="poliscore" href="#" routerLink="/">poliscore.us</h1> -->
             <div class="title">
                <div class="vertical-layout">
                    <a class="unstyled" href="/"><img class="logo" src="/images/poliscore-word.png" routerLink="/" alt="PoliScore Logo"></a>
                    <span class="logo-subtitle">AI Political Rating Service</span>
                </div>
                <div class="horizontal-layout" style="flex-direction: row-reverse !important;">
                    <div class="nav-buttons vertical-layout">
                        <button mat-raised-button routerLink="/legislators"><a href="/legislators/" class="unstyled"><span>Legislators</span></a></button>
                        <button mat-raised-button routerLink="/bills"><a href="/bills/" class="unstyled"><span>Bills</span></a></button>
                        <button mat-raised-button routerLink="/about" class="about-button"><a href="/about/" routerLink="/about" class="unstyled"><span>About</span></a></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section vertical-layout">
            <div class="col-left horizontal-layout party-selector">
                <button *ngIf="party !== 'DEMOCRAT'" mat-raised-button routerLink="/congress/118/democrat"><span>Democrat</span></button>
                <button *ngIf="party === 'DEMOCRAT'" mat-button routerLink="/congress/118/democrat"><span>Democrat</span></button>

                <button *ngIf="party !== 'REPUBLICAN'" mat-raised-button routerLink="/congress/118/republican"><span>Republican</span></button>
                <button *ngIf="party === 'REPUBLICAN'" mat-button routerLink="/congress/118/republican"><span>Republican</span></button>

                <button *ngIf="party !== 'INDEPENDENT'" mat-raised-button routerLink="/congress/118/independent"><span>Independent</span></button>
                <button *ngIf="party === 'INDEPENDENT'" mat-button routerLink="/congress/118/independent"><span>Independent</span></button>
            </div>
        </div>

        <mat-card class="tran-div stats">
            <mat-card-content>
                <div class="row vertical-layout">
                    <h1 class="grade"><p [ngStyle]="{'color': colorForGrade(gradeForParty())}">{{gradeForParty()}}</p></h1>

                    <!-- <div class="col-left vertical-layout">
                        <h1 class="grade"><p [ngStyle]="{'color': colorForGrade(gradeForLegislator())}">{{gradeForLegislator()}}</p></h1>
                        <h1 class="card-title" style="text-align:center;">{{party}}</h1>
                        <h3 class="card-subtitle" style="text-align:center;">{{subtitleForLegislator()}}</h3>
                        
                        <img class="leg-img img-fluid rounded-start" *ngIf="!leg?.photoError" [src]="'https://poliscore-prod-public.s3.amazonaws.com/' + leg?.id + '.jpg'" (error)="legPhotoError(leg)" >
                        <img class="leg-img img-fluid rounded-start" style="max-height:360px;" src="https://poliscore-prod-public.s3.amazonaws.com/LEG/leg-photo-missing.png" alt=“Name”>

                        <p class="reelection" *ngIf="upForReelection()">Up for reelection in November</p>
                    </div>
                    <div class="col-right"> -->
                        <div class="card-body chart-container">
                            <canvas #barChart id="barChart"></canvas>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="row">
                    
                </div>

                <section *ngIf="stats != null">
                    <!-- <h2>Interpretation</h2> -->
                    <div class="leg-summary"><p *ngFor="let paragraph of getInterpretation()!.longExplain!.split('\n')" [innerHTML]="paragraph"></p></div>

                    
                </section>
            </mat-card-content>
        </mat-card>

        <!-- <div class="horizontal-layout breadcrumb">
            <h1><a [href]="'/congress/' + session + '/' + party.toLowerCase() + '/best-legislators'">Best Legislators</a></h1>
            <h1><a [href]="'/congress/' + session + '/' + party.toLowerCase() + '/worst-legislators'">Worst Legislators</a></h1>
            <h1><a [href]="'/congress/' + session + '/' + party.toLowerCase() + '/best-bills'">Best Bills</a></h1>
            <h1><a [href]="'/congress/' + session + '/' + party.toLowerCase() + '/worst-bills'">Worst Bills</a></h1>
        </div> -->

        <div *ngIf="stats" class="content-section">
            <h1 style="display: none;">Legislators</h1>

            <div class="sorting horizontal-layout">
                <label class="sort-label left">Sort by:</label>
                <mat-button-toggle-group name="fontStyle" class="right" aria-label="Font Style" [hideSingleSelectionIndicator]="true" [hideMultipleSelectionIndicator]="true">
                    <mat-button-toggle (click)="toggleSort('legislators')" value="bold">Legislators <i *ngIf="sort === 'bestLegislators' || sort === 'worstLegislators'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': sort === 'bestLegislators', 'fa-arrow-up': sort === 'worstLegislators' }"></i></mat-button-toggle>
                    <mat-button-toggle (click)="toggleSort('bills')" value="bold">Bills <i *ngIf="sort === 'bestBills' || sort === 'worstBills'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': sort === 'bestBills', 'fa-arrow-up': sort === 'worstBills' }"></i></mat-button-toggle>

                    <!-- <mat-button-toggle value="bold">Rating <i *ngIf="page.index === 'ObjectsByRating'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': !page.ascending, 'fa-arrow-up': page.ascending }"></i></mat-button-toggle>
                    <mat-button-toggle value="italic">Age <i *ngIf="page.index === 'ObjectsByDate'" class="icon solid fa-solid sort-arrow" [ngClass]="{ 'fa-arrow-down': page.ascending, 'fa-arrow-up': !page.ascending }"></i></mat-button-toggle> -->
                </mat-button-toggle-group>
            </div>
        </div>

        <ng-container *ngIf="stats && sort.indexOf('Legislators') !== -1">
            <mat-card *ngFor="let leg of getData()" class="legs" appearance="outlined">
                <a [href]="'/legislator/' + leg.id.replace('LEG/us/congress/', '')">
                    <div class="left">
                        <img *ngIf="!leg.photoError" [src]="'https://poliscore-prod-public.s3.amazonaws.com/' + leg.id + '.jpg'" (error)="leg.photoError = true;" >
                        <img *ngIf="leg.photoError" src="https://poliscore-prod-public.s3.amazonaws.com/LEG/leg-photo-missing.png" alt=“Name”>
                    </div>
                    <div class="right">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>{{leg.name.official_full}}</mat-card-title>
                                <h1 class="col-2 g-0"><p class="text-end" style="padding-right:12px;" [ngStyle]="{'color': colorForGrade(gradeForLegislator(leg))}">{{gradeForLegislator(leg)}}</p></h1>
                                <mat-card-subtitle>{{subtitleForLegislator(leg)}}</mat-card-subtitle>
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <span><p>{{descriptionForLegislator(leg)}}</p></span>
                        </mat-card-content>
                        <mat-card-footer class="horizontal-layout">
                            <p class="reelection" *ngIf="upForReelection(leg)">Up for reelection in Nov</p>
                        </mat-card-footer>
                    </div>
                </a>
            </mat-card>
        </ng-container>

        <ng-container *ngIf="stats && sort.indexOf('Bills') !== -1">
            <mat-card *ngFor="let bill of getData()" class="bills" appearance="outlined">
                <a [href]="'/bill/' + bill.id.replace('BIL/us/congress/', '')">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>{{bill.name}}</mat-card-title>
                            <mat-card-subtitle>{{subtitleForBill(bill)}}</mat-card-subtitle>
                            <span style="display:flex; align-items: space-between;">
                                <h4 class="title-date" style="margin-top: 10px; margin-right:20px;"><p style="padding-left:12px;">{{bill.introducedDate}}</p></h4>
                                <h1 class="title-grade"><p style="padding-right:12px;" [ngStyle]="{'color': colorForGrade(gradeForBill(bill))}">{{gradeForBill(bill)}}</p></h1>
                            </span>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <span><p>{{descriptionForBill(bill)}}</p></span>
                    </mat-card-content>
                </a>
            </mat-card>
        </ng-container>
        </div>
    </div>
</div>
</div>


<!-- <p class="card-text"><small class="text-body-secondary">{{leg?.interpretation?.issueStats?.explanation}}</small></p> -->
<!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
